@model MVC04.Models.Product


@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductName)
                    @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control", required = "true" })
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                    <div class="invalid-feedback">Please enter a product name.</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageURL)
                    @Html.TextBoxFor(model => model.ImageURL, new { @class = "form-control", required = "true" })
                    <span asp-validation-for="ImageURL" class="text-danger"></span>
                    <div class="invalid-feedback">Please enter a valid image URL.</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductPrice)
                    @Html.TextBoxFor(model => model.ProductPrice, new { @class = "form-control", required = "true", type = "number", step = "0.01" })
                    <span asp-validation-for="ProductPrice" class="text-danger"></span>
                    <div class="invalid-feedback">Please enter a valid product price.</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description)
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "4", required = "true" })
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <div class="invalid-feedback">Please enter a product description.</div>
                </div>

                <button type="submit" class="btn btn-primary">Add Product</button>
            }
            <a href="~/home/index">Quay về danh sách</a>
        </div>
    </div>
</div>

